.searchGen{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(152, 50, 13);
    
}

.inputstyle{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: rgb(152, 50, 13);
  border: none;
  cursor: pointer;
}

.inputstyle:hover{
    background: rgb(192, 84, 37);
    cursor: pointer;
}

